@charset "utf-8";
body {background: url("bg.jpg") repeat-x scroll left top transparent;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;margin: 0;padding: 0;}
* {margin: 0;padding: 0;}
#wrap {background: url("content-bg.jpg") no-repeat scroll left top transparent;margin: 0 auto;padding: 10px 27px;width: 960px;}
.left {float: left;}
.right {float: right;}
.clear {clear: both;}
h2 {font-family: Arial, Helvetica, sans-serif;margin-bottom: 10px;font-size:26px;font-weight:bold;padding-bottom:10px;border-bottom:1px groove #cccccc;}
.i-content, .i-content p {line-height: 21px;font-size:14px;}
.i-content p {margin-bottom: 20px;}
h1 a {float: left;margin-left: 22px;padding: 25px 0;text-indent: -99999px;width: 415px;}
.call {font-size: 13px;margin-left: 15px;width: 430px;}
.call span {color: #3366CC;font-size: 26px;padding:0 0 0 5px;}
.search {margin: 22px 0 0 150px;}
.search p {color: #FFFFFF;font-size: 0.9em;margin-bottom: 0;}
.search p input.go {background: url("go.jpg") no-repeat scroll left top transparent;border: medium none;cursor: pointer;height: 20px;width: 30px;}
.search input.search-input {background-color: #EEEEEE;border: medium none;margin: 2px 0 0;padding: 3px;width: 250px;}
.navigation {}
.navigation ul {margin: 5px 0;padding: 0;width: 415px;}
.navigation li {float: left;font-size: 13px;list-style: none outside none;padding: 10px 5px;}
.navigation li a {color: #333333;display: inline;float: left;text-decoration: none;}
.snd-navi {margin: 10px 0;text-align: center;}
.snd-navi ul {margin: 0 auto;width: 930px;}
.snd-navi li {display: inline;float: left;margin-left: 10px;}
.snd-navi li a {background: url("arrow.jpg") no-repeat scroll 3px 6px transparent;color: #333333;float: left;font-size: 15px;padding: 5px 16px 5px 22px;text-decoration: none;}
.sub-header {background: url("header.jpg") no-repeat scroll left top transparent;height: 101px;}
#login {position: relative;width: 250px;z-index: 995;}
#login form {padding: 25px 136px 49px 25px;position: absolute;width: 220px;background:url(banner-left.png) no-repeat left top;}
#login form > div {margin-top: 10px;}
#login form h1 {color: #FF6900;font-size: 30px;line-height: 36px;padding: 5px 0;}
#login form input {background: none repeat scroll 0 0 #FFFFFF;border: medium none;margin: 5px 0 8px;padding: 3px 5px;width: 132px;}
#login form input[type="checkbox"] {margin: 0;width: 10px;}
#login form label {color: #6EA3A3;font-size: 12px;padding: 10px 0 0 5px;width: 66px;}
#login form input.submit { background: linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -moz-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -webkit-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -o-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%);   cursor: pointer;display: block;margin: 5px 0 10px;padding: 4px 15px;text-indent: ;width: 70px;color:#FFFFFF;text-decoration:none;}
#login form .member {background: linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -moz-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -webkit-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); 
background: -o-linear-gradient(89deg, rgba(237, 16, 1, 1)49%, rgba(255, 22, 0, 0.8)54%); cursor: pointer;display: block;margin: 5px 0 10px;padding: 4px 15px;text-indent: ;width: 84px;color:#FFFFFF;text-decoration:none;
}
#login form input.register {background-color:#333333;cursor: pointer;text-indent: -99999px;width: 120px;color:#FFFFFF;}
#login p {color: #FFFFFF;font-size: 12px;line-height: 15px;margin-bottom: 0;}
#login h2 {color: #FFFFFF;font-size: 20px;font-weight: bold;line-height: 20px;margin: 10px 0 0;padding: 0;}
#login a {color: #ffffff;}
#login strong {font-family: "verdana";}
.footer {margin-top: 20px;}
.footer ul.bottom {background: url("footer.jpg") no-repeat scroll left center transparent;margin: 5px auto;padding: 0;width: 100%;}
.footer ul.bottom li {float: left;font-size: 16px;height: 120px;list-style: none outside none;padding: 0;width: 320px;}
.footer ul.bottom li a {color: #ffffff;display: inline-block;float: left;font-weight: bold;line-height: 20px;padding: 0;text-decoration: none;}
.footer ul.bottom li a.screen {padding: 48px 0 0 145px;}
.footer ul.bottom li a.prevention {padding: 48px 0 0 103px;}
.footer ul.bottom li a.coverage {padding: 48px 0 0 118px;}
.footer ul {margin: 5px auto;padding: 0;width: 415px;}
.footer li {float: left;font-size: 13px;list-style: none outside none;padding: 10px 5px;}
.footer li a {color: #333333;display: inline;float: left;text-decoration: none;}
.gradnt-bg {background: url("header-bg.png") no-repeat scroll left top transparent;padding: 15px 27px 20px;}
.gradnt-bg-1 {background: url("header-bg-1.png") no-repeat scroll left top transparent;padding: 15px 27px 20px;width: 650px;}
.home-right {width: 262px;}
h3.blue-hdr a {background-color: #3366CC;border-radius: 10px 10px 0 0;color: #FFFFFF;display: block;font-size: 18px;margin-bottom: 5px;padding: 10px;text-decoration: none;}
.home-right .block{border: 1px solid #EEEEEE; border-radius: 10px 10px 0 0;display: block;float:left;padding-bottom:15px;}
.home-right p {color: #395B5C;font-size: 13px;padding: 10px 5px; height: 105px;margin-top: -5px; margin-bottom:0;}
.home-right p img.image {margin:0 10px  0 0;border:6px solid #dddddd;border-radius:5px;}
ul.right_submenu {list-style: none outside none;}
ul.right_submenu li {list-style: none outside none;margin: 0 0 0 10px;padding: 0;border-bottom:1px dashed #cccccc;}
ul.right_submenu li:last-child {border-bottom:none;}
ul.right_submenu li a {background: url("arrow_state_grey_right.png") no-repeat scroll left 11px transparent;color: #3366CC;display: block;font-size: 15px;padding: 9px 10px 9px 20px;text-decoration: none;}
ul.right_submenu li a:hover {color: #3366CC;background: url("arrow_state_blue_right.png") no-repeat scroll left 11px transparent;}
ul.right_submenu li .selected {background: url("arrow_state_blue_right.png") no-repeat scroll left 11px transparent;color: #3366CC;font-weight: bold;}
ul.right_submenu li > ul{margin-top:-5px;margin-bottom:10px;margin-left:8px;}
ul.right_submenu li ul li{list-style: none outside none;margin: 0 0 0 10px;padding: 0;border:none;}
ul.right_submenu li ul li a {background: url("arrow_2_dots.png") no-repeat scroll left 6px transparent;color: #888888;display: block;font-size: 15px;padding: 4px 10px 4px 20px;text-decoration: none;}
ul.right_submenu li ul li a:hover {color: #3366CC;background: url("arrow_2_dots-blue.png") no-repeat scroll left 6px transparent;}
ul.right_submenu li ul li .selected {background: url("arrow_2_dots-blue.png") no-repeat scroll left 6px transparent;color: #3366CC;font-weight: bold;}
ul.right_submenu li li > ul{margin-top:0px;margin-bottom:10px;margin-left:22px;}
ul.right_submenu li li ul li{list-style: disc;margin: 0 0 0 10px;padding: 0;border:none;}
ul.right_submenu li li ul li a {background: transparent;color: #888888;display: block;font-size: 14px;padding: 4px 10px 4px 00px;text-decoration: none;}
ul.right_submenu li li ul li a:hover {color: #3366CC;background: transparent;}
ul.right_submenu li li ul li .selected {background: transparent;color: #3366CC;font-weight: bold;}
ul.lsit-style {list-style: none outside none;margin-bottom: 10px;}
ul.lsit-style li {list-style: none outside none;margin: 0 0 0 10px;padding: 0;}
ul.lsit-style li {background: url("arrow_readmore.gif") no-repeat scroll left 9px transparent;color: #999999;display: block;font-size: 13px;padding: 4px 10px;text-decoration: none;}
ul.lsit-style li a:hover {color: #333333;}
table#table-content td even {background-color: #EEEEEE;}
table#table-content td odd {background-color: #FFFFFF;}
table#table-content {margin-bottom: 1.4em;width: 100%;}
#table-content th {font-weight: bold;}
#table-content thead th {background: none repeat scroll 0 0 #C3D9FF;}
#table-content th, #table-content td, caption {padding: 2px 0;}
#table-content tbody tr:nth-child(2n) td, #table-content tbody tr.even td {background: none repeat scroll 0 0 #E5ECF9;}
#table-content tfoot {font-style: italic;}
.big-text {padding: 15px;}
.big-text p {font-size: 18px;line-height: 24px;}
p em {color:#999999;}

#frm_doctor_search_right {background:#eeeeee;padding:20px;border-radius:10px;border:1px solid #dddddd;margin:0 auto;width:365px;}
#frm_doctor_search_right strong {font-size:13px;font-weight:normal;width:100px;display:block;}
#frm_doctor_search_right input, #frm_doctor_search_right select{width:243px;}
#frm_doctor_search_right input[type="image"]{border:none;width:auto;}
#frm_doctor_search_right h3{text-align:center;font-weight:lighter;color:#FF6900;padding:0 0 15px;font-size:26px;}
#contact_info {background: #eee;border: 1px solid #ddd;width: 455px;}
#contact_info input, #contact_info textarea {width:243px; resize:none;padding: 5px;margin: 1px;}
#contact_info input.size-three, #contact_info input.size-four {width:60px;margin:1px 0;}
#contact_info input.size-one {width:150px;}
#contact_info input[type="submit"] , #contact_info input[type="reset"] {width:auto;padding:2px 10px;background:#333333;color:#ffffff;}
#contact_info input[type="file"] {background:#ffffff;}

.spanishNav {display: block;   float: right;  font-size: 13px; margin: 8px 5px;text-decoration:none;}
.gray{font-size:11px;color:#999;}